body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-size: 13px;
  padding-top: 2px;
  padding-right: 15px;
}

nav ul {
  list-style: none;
  text-align: right;
}

nav ul li {
  display: inline;
  padding-inline: 5px;
}

nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

nav a:hover {
  text-decoration: underline;
}

nav a:focus {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 0px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 74px;
  margin: 43.5px;
}

.formulario {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.barras {
  position: relative;
  margin: 0 auto;
  max-width: 575px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -16px;
}

input:focus, textarea:focus, text:focus {
  outline: none;
}

*:focus {
  outline: none;
}

.ancho {
  margin: 0px 45px 10px;
}

.borde {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 44px;
  height: 44px;
  background: url(https://findicons.com/files/icons/1389/g5_system/32/toolbar_find.png), url(https://i.ibb.co/M9DSzT7/27-272205-google-microphone-png-google-search-by-voice-icon-removebg-preview.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 3% center, 96% center;
  background-size: 18px, 17px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: auto;
  margin: 0 auto;
  z-index: 3;
}

.escribo {
  width: 80%;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  margin-top: -45px;
  border: none;
  line-height: 44px;
  height: 44px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ingresos {
  height: 70px;
  padding-top: 9px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  text-align: center;
}

.ingresos button, .ingresos input {
  margin-inline: 4px;
  margin-top: 10px;
  background-color: #F8F9FA;
  padding: 10px;
  padding-inline: 17px;
  border: none;
  font-size: 14px;
  color: #3c4043;
  border-radius: 4px;
  height: 36px;
  cursor: pointer;
}

.ingresos button:hover, .ingresos input:hover {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}

.ingresos button:focus, .ingresos input:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

.offered {
  font-size: 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  text-align: center;
  margin: 6px 0px;
}

.offered a {
  text-decoration: none;
}

.offered a:hover {
  text-decoration: underline;
}

.none {
  display: none;
}
/*# sourceMappingURL=style.css.map */